/* Acá va tu código */
#framework{
background-color: blanchedalmond
}

header{
    text-align: center;
}

.first-section {
    text-align: center;
}

.second-section{
    margin-left: 0em;
    text-align: center;
}

.third-section{
    margin-left: 0em;
    margin-top: 1em;
    text-align: center;
}

.fourth{
  
    content: white;

}
body{
    background-image: url("bill.jpg");
    display: flex;
    padding-left: 30em;
    padding-right: 20em;
   
}

h1{
    font-size: 3em; 
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1,5em;
}

#answer{
    height: 5em;
}

#position{
    margin-bottom: 2em;
}
