/* Acá va tu código */
#framework{
background-color: blanchedalmond
}

header{
    text-align: center;
    color: rgb(6, 12, 121); 
}

.first-section {
    text-align: center;
}

.second-section{
    text-align: center;
}

.third-section{
    text-align: center;
}

body{
    background-image: url("bill.jpg");
    padding: 1em 25em;
}

h1{
    font-size: 3em;
    display: 
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1,5em;
}

p {
    background-color: rgb(109, 24, 189);
    margin-left: 12em;
    margin-right: 12em;
}

#code{ 
    height: 5em;
}

#code1{
    height: 5em;
}

#message{
    height: 5em;
}

#menssageEncode{
    height: 5em;
}

#text {
    background-color: blueviolet
}

#txt{
    background-color: blueviolet
}

#lineOfText{
    background-color: blueviolet
}


